<h2 class="oj-helper-text-align-center">Counting Scheme Stats Per Surah</h2>

<div class="oj-flex oj-sm-flex-direction-column" style="width: 100%;">

    <!-- Tree View -->
    <div class="oj-flex-item oj-sm-12" 
         style="width: 100%; max-width: 100%; overflow: hidden; padding-bottom: 15px;">
        <oj-tree-view
            id="treeview"
            data="[[treeDataProvider]]"
            selection-mode="multiple"
            aria-label="Tree View with JSON Data">
            <template slot="itemTemplate" data-oj-as="row">
                <span class="oj-treeview-item-icon"></span>
                <span class="oj-treeview-item-text">
                    <oj-bind-text value="[[row.data.title]]"></oj-bind-text>
                </span>
            </template>
        </oj-tree-view>
    </div>

    <!-- Table -->
    <div class="oj-flex-item oj-sm-12" style="width: 100%; overflow-x: auto;">
        <oj-table class="oj-sm-overflow-x-auto"
                  style="max-height: none; width: 100%; min-width: 1200px;" 
                  data="[[schemesDataProvider]]"
                  columns="[[tableColumns]]"
                  display="grid">
            <template slot="noData">
                <oj-bind-text value="Loading Data..."></oj-bind-text>
            </template>
        </oj-table>
    </div>
</div>
